@font-face {
  font-family: 'mister';
  src: url('fonts/mister_beek-webfont.eot');
  src: url('fonts/mister_beek-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/mister_beek-webfont.woff2') format('woff2'),
  url('fonts/mister_beek-webfont.woff') format('woff'),
  url('fonts/mister_beek-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

body {

  background: #89cbbb;
}
.aligncenter, img.aligncenter { clear: both; display: block; margin-left: auto; margin-right: auto; }
.menu-mobile {
  display: inline-block;
  margin-bottom: 5px;
  float: right;
  margin: 10px;
  padding: 5px;
  border: 1px solid #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.nav-menu-list {
  background: rgba(255, 255, 255, 0.6);
  display: none;
}
.banner {
  margin-bottom: 20px;
  img{width: 100%;}
}
.btn {
  display: block;
  width: 100%;
  background: #15466d;
  color: #fff;
  padding: 10px 20px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-bottom: 20px;
  &:hover{
    color: #fff;
  }
}
.tp {
  position: relative;
  text-align: center;
  .sc-select {
    margin-bottom: 20px;
    img{
      cursor: pointer;
    }
  }
  img {
    margin: 0 10px;
  }
}
.nav-menu {
  font-family: 'mister';
  ul {
    padding: 0;
    list-style: none;
    li {
      padding: 10px;
      border-bottom: 1px solid #f5f5f5;
      display: block;
      font-size: 20px;
      &:first-child {
        border-top: 1px solid #f5f5f5;
      }
      a {
        color: #666;
      }
    }
  }
}
.gp-head {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index: -1;
}
.gp{
  position: relative;
}
.gp-foot{
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  left: 0;
  z-index: -1;

}
.card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s ease-in-out;
  &:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
}
.footer{
  background: #8cc63f;
  text-align: center;
}
.l1{
  margin: 10px;
}
.l2{
  margin: 10px;
}
.cp{
  color: #fff;
  font-size: 14px;
  margin:20px 0px;
}
.block-item {

  margin-bottom: 20px;

  position: relative;

}
a {
  color: #333;
  &:hover {
    text-decoration: none;
    color: #333;
  }
}
.section{
  background: #eff3f5;
  padding:0 0 20px 0;
}
.content {
  padding: 10px;
  background: #fff;
  display: block;
  border: 1px solid #1f547b;
  border-bottom: 0;
}
.caption {
  margin-bottom: 20px;

}
.feature_img {

  margin-bottom: 20px;
  width: 100%;
  height: auto;
  display: block;
}
.avatar {
  background: #e6e6e6;
  padding: 10px;
  display: block;
  border: 1px solid #1f547b;
  border-top: 0;
}
.img-social {
  margin-right: 20px;
}
.img-avatar {
  height: 50px;
  width: 50px;
  margin-right: 20px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: #fff;
}
.username {
  color: #333;
  display: inline-block;
}
.relative{
  position: relative;
}
.archive-panel{
  min-height: 700px;
  background: #eff3f5;
  padding: 40px 0;
  h1{
    color: #15466d;
    margin-bottom: 40px;
  }
  .title{
    display: block;
    padding: 10px;
    font-size: 16px;
    color: #000;
    font-weight:bold;
  }
  .bot-2{
    padding: 0 10px;
  }
  .ddate{
    color: #666;
  }
  .btn{
    float: right;
  }
}
.single-panel{
  min-height: 700px;
  float: left;
  width: 100%;
  background: #eff3f5;
  padding: 40px 0;
  img{
    max-width: 100%;
    height:auto;
  }
}
.section-contact{
  padding: 50px 0;
  background: #fff;
}
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.pagination{
  display: inline-block;
  float: right;
  margin-right: 10px;
  .page-numbers{
    padding: 10px;
    border:1px solid #15466d;
    background: #fff;
  }
  .current{
    background:  #15466d ;
    color: #fff;
  }
}
@media(min-width:768px){
  .effect7
  {
    position:relative;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }
  .effect7:before, .effect7:after
  {
    content:"";
    position:absolute;
    z-index:-1;
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    border-radius:100px / 10px;
  }
  .effect7:after
  {
    right:10px;
    left:auto;
    transform:skew(8deg) rotate(3deg);
  }
  .menu-mobile {
    display: none;
  }
  .nav-menu-list {
    background: none;
  }
  .nav-menu {
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    ul {
      display: inline-block;
      padding: 0;
      list-style: none;
      li {
        padding: 10px;
        border-bottom: none;
        border-right:1px solid #174e77;
        display: inline-block;
        font-size: 20px;
        &:first-child {
          border-top: none;
          border-right:1px solid #174e77;
        }
        &:last-child{
          border-right:none;
        }
        a {
          color: #fff;
        }
      }
    }
  }
  .btn {
    display: inline-block;
    width: auto;
  }
  .btn-top-right{
    position: absolute;
    right: 15px;
  }
  .btn-top-left{
    position: absolute;
    left: 15px;
  }
  .tp{
    padding: 40px 0;
  }
  .footer{
    line-height: 90px;
  }
  .l1{
    position: absolute;
    left: 15px;
    top:-20px;
  }
  .l2{
    position: absolute;
    right: 15px;
    top:10px;
  }
}