@font-face {
  font-family: 'mister';
  src: url("fonts/mister_beek-webfont.eot");
  src: url("fonts/mister_beek-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/mister_beek-webfont.woff2") format("woff2"), url("fonts/mister_beek-webfont.woff") format("woff"), url("fonts/mister_beek-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'wdb_bangnaregular';
  src: url("fonts/wdb_bangna-webfont.eot");
  src: url("fonts/wdb_bangna-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/wdb_bangna-webfont.woff2") format("woff2"), url("fonts/wdb_bangna-webfont.woff") format("woff"), url("fonts/wdb_bangna-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
body {
  background: #bde5ef; }

.intro-3 img {
  margin-bottom: 10px; }

.menu-mobile {
  display: inline-block;
  margin-bottom: 5px;
  float: right;
  margin: 10px;
  padding: 5px;
  border: 1px solid #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

.nav-menu-list {
  background: rgba(255, 255, 255, 0.6);
  display: none; }

.banner {
  margin-bottom: 20px; }
  .banner img {
    width: 100%; }

.btn {
  display: block;
  width: 100%;
  background: #15466d;
  color: #fff;
  padding: 10px 20px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-bottom: 20px; }
  .btn:hover {
    color: #fff; }

.tp {
  position: relative;
  text-align: center; }
  .tp .sc-select {
    margin-bottom: 20px; }
    .tp .sc-select img {
      cursor: pointer; }
  .tp img {
    margin: 0 10px; }

.nav-menu {
  font-family: 'mister'; }
  .nav-menu ul {
    padding: 0;
    list-style: none; }
    .nav-menu ul li {
      padding: 10px;
      border-bottom: 1px solid #f5f5f5;
      display: block;
      font-size: 20px; }
      .nav-menu ul li:first-child {
        border-top: 1px solid #f5f5f5; }
      .nav-menu ul li a {
        color: #666; }

.gp-head {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index: -1; }

.gp {
  position: relative; }

.gp-foot {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  left: 0;
  z-index: -1; }

.card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s ease-in-out; }
  .card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.footer {
  background: #8cc63f;
  text-align: center; }

.l1 {
  margin: 10px; }

.l2 {
  margin: 10px; }

.cp {
  color: #fff;
  font-size: 14px;
  margin: 20px 0px; }

.block-item {
  margin-bottom: 20px;
  position: relative; }

a {
  color: #333; }
  a:hover {
    text-decoration: none;
    color: #333; }

.section {
  background: #eff3f5;
  padding: 0 0 20px 0; }

.content {
  padding: 10px;
  background: #fff;
  display: block;
  border: 1px solid #1f547b;
  border-bottom: 0; }

.caption {
  margin-bottom: 20px; }

.feature_img {
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  display: block; }

.avatar {
  background: #e6e6e6;
  padding: 10px;
  display: block;
  border: 1px solid #1f547b;
  border-top: 0; }

.img-social {
  margin-right: 20px; }

.img-avatar {
  height: 50px;
  width: 50px;
  margin-right: 20px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: #fff; }

.username {
  color: #333;
  display: inline-block; }

.relative {
  position: relative; }

.con-design {
  padding: 5px; }

.archive-panel {
  min-height: 700px;
  background: #eff3f5;
  padding: 5px;
  border: 1px solid #174e77; }
  .archive-panel h1 {
    margin: 0;
    padding: 0;
    margin-bottom: 5px; }
  .archive-panel .title {
    display: block;
    padding: 10px;
    font-size: 16px;
    color: #000;
    font-weight: bold; }
  .archive-panel .bot-2 {
    padding: 0 10px; }
  .archive-panel .ddate {
    color: #666;
    margin-bottom: 10px;
    display: block; }
  .archive-panel .btn {
    float: right; }

.single-panel {
  word-wrap: break-word;
  color: #022840;
  min-height: 700px;
  float: left;
  width: 100%;
  background: #eff3f5;
  padding: 40px 0; }
  .single-panel img {
    max-width: 100%;
    height: auto; }

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.pagination {
  display: inline-block;
  float: right;
  margin-right: 10px; }
  .pagination .page-numbers {
    padding: 10px;
    border: 1px solid #15466d;
    background: #fff; }
  .pagination .current {
    background: #15466d;
    color: #fff; }

.sc {
  text-align: center;
  margin: 15px 0; }
  .sc a {
    display: inline-block;
    margin: 0 15px; }

.box {
  position: relative;
  padding: 15px;
  border: 1px solid #174e77;
  margin-bottom: 15px;
  background: #fff;
  float: left;
  width: 100%; }
  .box .bg {
    font-family: 'mister','wdb_bangnaregular';
    color: #0c7f63; }
    .box .bg h1 {
      margin: 0 30px 30px 0;
      font-size: 20px;
      display: inline-block; }
    .box .bg p {
      line-height: 160%;
      font-size: 16px; }

.btn-primary {
  background: #2591d3;
  border: none; }

.intro-4 {
  font-family: 'mister','wdb_bangnaregular';
  color: #022840;
  text-align: center;
  font-size: 19px; }

.intro-3 {
  font-family: 'mister','wdb_bangnaregular';
  color: #022840;
  text-align: center; }
  .intro-3 p {
    font-size: 19px;
    margin-bottom: 10px; }

.box-thumb {
  text-align: center;
  color: #022840; }
  .box-thumb .thumb {
    text-align: center;
    height: 180px;
    overflow: hidden;
    margin-bottom: 15px; }
    .box-thumb .thumb img {
      display: inline-block; }
  .box-thumb .detail {
    font-family: 'mister','wdb_bangnaregular';
    margin-bottom: 15px; }

.head-bg {
  height: 45px;
  background: url("../images/head-bg.jpg") no-repeat;
  color: #fff;
  background-size: cover;
  margin-bottom: 5px;
  text-align: center; }

@media (min-width: 768px) {
  .intro-3 .btn {
    position: relative;
    z-index: 2;
    margin: 0 15px; }

  .intro-4 .btn {
    position: absolute;
    bottom: 15px;
    left: 15px; }

  .box {
    position: relative;
    padding: 15px;
    border: 1px solid #174e77;
    margin-bottom: 15px;
    background: #fff;
    float: left;
    width: 100%; }
    .box .bg {
      font-family: 'mister','wdb_bangnaregular';
      background: url("../images/intro-1-bg.jpg");
      padding-left: 223px;
      padding-right: 60px;
      background-size: cover;
      padding-top: 15px;
      height: 208px;
      background-position: bottom left;
      color: #0c7f63; }
      .box .bg h1 {
        margin: 0 30px 5px 0;
        font-size: 30px;
        display: inline-block; }
      .box .bg p {
        line-height: 160%;
        font-size: 16px; }

  .effect7 {
    position: relative;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; }

  .effect7:before, .effect7:after {
    content: "";
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 0;
    bottom: 0;
    left: 10px;
    right: 10px;
    border-radius: 100px / 10px; }

  .effect7:after {
    right: 10px;
    left: auto;
    transform: skew(8deg) rotate(3deg); }

  .menu-mobile {
    display: none; }

  .nav-menu-list {
    background: none; }

  .nav-menu {
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center; }
    .nav-menu ul {
      display: inline-block;
      padding: 0;
      list-style: none; }
      .nav-menu ul li {
        padding: 10px 20px;
        border-bottom: none;
        border-right: 1px solid #fff;
        display: inline-block;
        font-size: 20px; }
        .nav-menu ul li:first-child {
          border-top: none;
          border-right: 1px solid #fff; }
        .nav-menu ul li:last-child {
          border-right: none; }
        .nav-menu ul li a {
          color: #fff; }

  .btn {
    display: inline-block;
    width: auto; }

  .btn-top-right {
    position: absolute;
    right: 15px; }

  .btn-top-left {
    position: absolute;
    left: 15px; }

  .tp {
    padding: 40px 0; }

  .footer {
    line-height: 90px; }

  .l1 {
    position: absolute;
    left: 15px;
    top: -20px; }

  .l2 {
    position: absolute;
    right: 15px;
    top: 10px; } }
@media (min-width: 992px) {
  .con-design {
    padding: 0 50px; } }

/*# sourceMappingURL=main.css.map */
